@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

body {
    background-color: steelblue;
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  main styling starts here
=================================*/
.container{
    background-color: rgba(0,0,0,0.4);
    padding:30px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
.container a {
    text-decoration: none;
    color:steelblue;
}

.btn {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    border: 0;
    margin: 20px 0;
    background-color: lightblue;
    font-family: inherit;
    font-size: 16px;
}

.btn:focus {
    outline:0;
    transform: scale(0.98);
}

.form-control {
    position: relative;
    margin: 20px 0 30px;
}

.form-control input{
    background-color: transparent;
    border:0;
    border-bottom: 2px solid #fff;
    width:100%;
    display:block;
    padding: 15px 0;
    color:#fff;
    font-size: 16px;
}

.form-control input:focus, .form-control input:valid{
    outline:0;
    border-bottom-color:lightblue;
} 

.form-control label{
    position: absolute;
    top:15px;
    left:0;
}

.form-control label span{
   display:inline-block;
   transition: transform 0.3s ease-in;
}

.form-control input:focus + label span, .form-control input:valid + label span{

    transform: translateY(-30px);
}
/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/